.container-chute {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 30px auto;
    width: 624px;
    height: 40px;
}

.container-chute span {
    font-size: 20px;
    color: #000000;
}

.container-chute input {
    width: 353px;
    height: 100%;
    border: 1px solid #CCCCCC;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #CCCCCC;
}

.container-chute button {
    width: 100px;
    height: 100%;
    border: 1px solid #3C76A1;
    color: #3C76A1;
    background-color: #E1ECF4;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}